@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

ul.menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 20px;
}

div.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    border-bottom: 3px solid black;
}

h1.titulo-principal {
    font-size: 50px;
}

p.texto-principal {
    margin-top: 20px;
    font-size: 18px;
    color: grey;
    opacity: 0.5;
}

section.projetos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid black;
}

div.projects {
    display: flex;
    align-items: left;
    flex-direction: column;
    border-right: 1px solid black;
    height: 100%;
    width: 270px;
    text-indent: 25px;
}

div.projects ul {
    font-size: 20px;
    align-items: center;
}

div.projects ul li {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    margin-top: 20px;
    align-items: center;
    color: black;
}

div.projects ul li a {
    color: black;
}

div.exp {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 50%;
    width: 1340px;
}

div.exp h2 {
    margin-bottom: 10px;
    margin-top: 25px;
}

div.exp h3 {
    margin-bottom: 10px;
}

div.exp p {
    margin-bottom: 10px;
}

div.source {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 50%;
}

div.source h2 {
    margin-bottom: 10px;
    margin-top: 25px;
}

div.source h3 {
    margin-bottom: 10px;
}

div.source p {
    margin-bottom: 10px;
}

div.edu {
    display: flex;
    align-items: left;
    flex-direction: column;
    border-right: 1px solid black;
    height: 100%;
    width: 270px;
    margin-left: 10px;
}

div.edu p {
    margin-bottom: 8px;
}

aside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

div.teacher {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
}

div.teacher p {
    font-size: 18px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 25px;
}



